<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppPathAsFirstArg</key>
	<false/>
	<key>Creator</key>
	<string>Platypus-4.4</string>
	<key>Droppable</key>
	<false/>
	<key>InterpreterParams</key>
	<array/>
	<key>OutputType</key>
	<string>Status Menu</string>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<false/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<false/>
	<key>StatusItemDisplayType</key>
	<string>Icon and Text</string>
	<key>StatusItemIcon</key>
	<data>
	TU0AKgAABAgAAAAAAAAAAAAAAAAAAAAAAAAAAAgICBoWFhZGGxsbaBsbG1sNDQ0tAwMD
	BQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADQ0NJwkJCR0eHh56LS0t/ysr
	K/8rKyv/Kioq+iYmJs8SEhI/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADQ0NMisrK+Yd
	HR2IDg4OLioqKv0oKCj/KCgo/ygoKP8oKCjxExMTQCAgIIsHBwcUAAAAAAAAAAAAAAAA
	CAgIGScnJ9soKCj/KCgo1gcHBw4nJyfUKCgo/ygoKP8qKir/GhoadRoaGnUrKyv/JiYm
	wQUFBQ4AAAAAAAAAACAgIJYqKir/KCgo/yoqKv4QEBA2HR0dhygoKP8oKCj/JiYm2RER
	ES8nJyfqKCgo/yoqKv8eHh6KAAAAAAEBAQEXFxdhKSkp9SgoKP8qKir/Hx8flBAQEDgt
	LS36LS0t/xgYGFkeHh6NKioq/ygoKP8oKCj/Kioq7gkJCRsRERE+FBQUTRAQEDgnJyfc
	Kysr/x4eHooCAgICDQ0NJBAQEDcRERE3KSkp9SgoKP8oKCj/KCgo/yoqKv8WFhZWLi4u
	iikpKf4bGxt8Dg4OLhISEkUKCgoaGxsbeiAgIJsbGxt3JSUluSgoKP8oKCj/KCgo/ygo
	KP8mJib/MzMzjjMzM44mJib/Kysr/xYWFlMJCQkfKSkp3ioqKv8oKCj/Kioq/ygoKP8o
	KCj/KCgo/ygoKP8oKCj/KCgo/ysrK4MYGBhhKysr/yoqKu8ICAgTIyMjsygoKP8oKCj/
	KCgo/ygoKP8oKCj/KCgo/ygoKP8oKCj/KCgo/ysrK/8TExNICwsLIiAgIIccHBxuBwcH
	FCcnJ+soKCj/KCgo/ygoKP8oKCj/KCgo/ygoKP8oKCj/KCgo/ygoKP8oKCjfBgYGDwAA
	AAAQEBA7EhISQwUFBQ0oKCjfKCgo/ygoKP8oKCj/KCgo/ygoKP8oKCj/KCgo/ygoKP8r
	Kyv/GBgYZwAAAAAAAAAAGRkZZjAwMP8KCgoeGxsbdyoqKv8oKCj/KCgo/ygoKP8oKCj/
	KCgo/ygoKP8rKyv/ICAglQICAgIAAAAAAAAAAAEBAQEgICCWIiIinwICAgMfHx+TKioq
	/CoqKv8qKir/Kioq/yoqKv8pKSnlGhoacAICAgIAAAAAAAAAAAAAAAAAAAAAAQEBAhwc
	HHEcHBxeBAQEBw8PDzcaGhp1ISEhlB8fH4sWFhZbCAgIGAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAACgoKHQsLCxQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAA4BAAADAAAAAQAQAAABAQADAAAAAQAQAAABAgADAAAABAAABLYB
	AwADAAAAAQABAAABBgADAAAAAQACAAABEQAEAAAAAQAAAAgBEgADAAAAAQABAAABFQAD
	AAAAAQAEAAABFgADAAAAAQAQAAABFwAEAAAAAQAABAABHAADAAAAAQABAAABUgADAAAA
	AQABAAABUwADAAAABAAABL6HcwAHAAAYmAAABMYAAAAAAAgACAAIAAgAAQABAAEAAQAA
	GJhhcHBsAhAAAG1udHJSR0IgWFlaIAfbAAEABwAPAAoAH2Fjc3BBUFBMAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEWRlc2MAAAFQAAAAYmRzY20AAAG0AAAA
	8GNwcnQAAAKkAAAA0Hd0cHQAAAN0AAAAFHJYWVoAAAOIAAAAFGdYWVoAAAOcAAAAFGJY
	WVoAAAOwAAAAFHJUUkMAAAPEAAAIDGFhcmcAAAvQAAAAIHZjZ3QAAAvwAAAGEm5kaW4A
	ABIEAAAGPmNoYWQAABhEAAAALG1tb2QAABhwAAAAKGJUUkMAAAPEAAAIDGdUUkMAAAPE
	AAAIDGFhYmcAAAvQAAAAIGFhZ2cAAAvQAAAAIGRlc2MAAAAAAAAACERpc3BsYXkAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABtbHVjAAAAAAAAABIAAAAMbmxOTAAAAAgA
	AADoZGFESwAAAAgAAADocGxQTAAAAAgAAADoZW5VUwAAAAgAAADobmJOTwAAAAgAAADo
	ZnJGUgAAAAgAAADocHRCUgAAAAgAAADocHRQVAAAAAgAAADoemhDTgAAAAgAAADoZXNF
	UwAAAAgAAADoamFKUAAAAAgAAADocnVSVQAAAAgAAADoc3ZTRQAAAAgAAADoemhUVwAA
	AAgAAADoZGVERQAAAAgAAADoZmlGSQAAAAgAAADoaXRJVAAAAAgAAADoa29LUgAAAAgA
	AADoAGkATQBhAGN0ZXh0AAAAAENvcHlyaWdodCBBcHBsZSwgSW5jLiwgMjAxMQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAAAPNSAAEAAAABFs9YWVogAAAAAAAAc1AAADrM
	AAAB0lhZWiAAAAAAAABgfAAAuFwAABQ3WFlaIAAAAAAAACMKAAAM2AAAvSNjdXJ2AAAA
	AAAABAAAAAAFAAoADwAUABkAHgAjACgALQAyADYAOwBAAEUASgBPAFQAWQBeAGMAaABt
	AHIAdwB8AIEAhgCLAJAAlQCaAJ8AowCoAK0AsgC3ALwAwQDGAMsA0ADVANsA4ADlAOsA
	8AD2APsBAQEHAQ0BEwEZAR8BJQErATIBOAE+AUUBTAFSAVkBYAFnAW4BdQF8AYMBiwGS
	AZoBoQGpAbEBuQHBAckB0QHZAeEB6QHyAfoCAwIMAhQCHQImAi8COAJBAksCVAJdAmcC
	cQJ6AoQCjgKYAqICrAK2AsECywLVAuAC6wL1AwADCwMWAyEDLQM4A0MDTwNaA2YDcgN+
	A4oDlgOiA64DugPHA9MD4APsA/kEBgQTBCAELQQ7BEgEVQRjBHEEfgSMBJoEqAS2BMQE
	0wThBPAE/gUNBRwFKwU6BUkFWAVnBXcFhgWWBaYFtQXFBdUF5QX2BgYGFgYnBjcGSAZZ
	BmoGewaMBp0GrwbABtEG4wb1BwcHGQcrBz0HTwdhB3QHhgeZB6wHvwfSB+UH+AgLCB8I
	MghGCFoIbgiCCJYIqgi+CNII5wj7CRAJJQk6CU8JZAl5CY8JpAm6Cc8J5Qn7ChEKJwo9
	ClQKagqBCpgKrgrFCtwK8wsLCyILOQtRC2kLgAuYC7ALyAvhC/kMEgwqDEMMXAx1DI4M
	pwzADNkM8w0NDSYNQA1aDXQNjg2pDcMN3g34DhMOLg5JDmQOfw6bDrYO0g7uDwkPJQ9B
	D14Peg+WD7MPzw/sEAkQJhBDEGEQfhCbELkQ1xD1ERMRMRFPEW0RjBGqEckR6BIHEiYS
	RRJkEoQSoxLDEuMTAxMjE0MTYxODE6QTxRPlFAYUJxRJFGoUixStFM4U8BUSFTQVVhV4
	FZsVvRXgFgMWJhZJFmwWjxayFtYW+hcdF0EXZReJF64X0hf3GBsYQBhlGIoYrxjVGPoZ
	IBlFGWsZkRm3Gd0aBBoqGlEadxqeGsUa7BsUGzsbYxuKG7Ib2hwCHCocUhx7HKMczBz1
	HR4dRx1wHZkdwx3sHhYeQB5qHpQevh7pHxMfPh9pH5Qfvx/qIBUgQSBsIJggxCDwIRwh
	SCF1IaEhziH7IiciVSKCIq8i3SMKIzgjZiOUI8Ij8CQfJE0kfCSrJNolCSU4JWgllyXH
	JfcmJyZXJocmtyboJxgnSSd6J6sn3CgNKD8ocSiiKNQpBik4KWspnSnQKgIqNSpoKpsq
	zysCKzYraSudK9EsBSw5LG4soizXLQwtQS12Last4S4WLkwugi63Lu4vJC9aL5Evxy/+
	MDUwbDCkMNsxEjFKMYIxujHyMioyYzKbMtQzDTNGM38zuDPxNCs0ZTSeNNg1EzVNNYc1
	wjX9Njc2cjauNuk3JDdgN5w31zgUOFA4jDjIOQU5Qjl/Obw5+To2OnQ6sjrvOy07azuq
	O+g8JzxlPKQ84z0iPWE9oT3gPiA+YD6gPuA/IT9hP6I/4kAjQGRApkDnQSlBakGsQe5C
	MEJyQrVC90M6Q31DwEQDREdEikTORRJFVUWaRd5GIkZnRqtG8Ec1R3tHwEgFSEtIkUjX
	SR1JY0mpSfBKN0p9SsRLDEtTS5pL4kwqTHJMuk0CTUpNk03cTiVObk63TwBPSU+TT91Q
	J1BxULtRBlFQUZtR5lIxUnxSx1MTU19TqlP2VEJUj1TbVShVdVXCVg9WXFapVvdXRFeS
	V+BYL1h9WMtZGllpWbhaB1pWWqZa9VtFW5Vb5Vw1XIZc1l0nXXhdyV4aXmxevV8PX2Ff
	s2AFYFdgqmD8YU9homH1YklinGLwY0Njl2PrZEBklGTpZT1lkmXnZj1mkmboZz1nk2fp
	aD9olmjsaUNpmmnxakhqn2r3a09rp2v/bFdsr20IbWBtuW4SbmtuxG8eb3hv0XArcIZw
	4HE6cZVx8HJLcqZzAXNdc7h0FHRwdMx1KHWFdeF2Pnabdvh3VnezeBF4bnjMeSp5iXnn
	ekZ6pXsEe2N7wnwhfIF84X1BfaF+AX5ifsJ/I3+Ef+WAR4CogQqBa4HNgjCCkoL0g1eD
	uoQdhICE44VHhauGDoZyhteHO4efiASIaYjOiTOJmYn+imSKyoswi5aL/IxjjMqNMY2Y
	jf+OZo7OjzaPnpAGkG6Q1pE/kaiSEZJ6kuOTTZO2lCCUipT0lV+VyZY0lp+XCpd1l+CY
	TJi4mSSZkJn8mmia1ZtCm6+cHJyJnPedZJ3SnkCerp8dn4uf+qBpoNihR6G2oiailqMG
	o3aj5qRWpMelOKWpphqmi6b9p26n4KhSqMSpN6mpqhyqj6sCq3Wr6axcrNCtRK24ri2u
	oa8Wr4uwALB1sOqxYLHWskuywrM4s660JbSctRO1irYBtnm28Ldot+C4WbjRuUq5wro7
	urW7LrunvCG8m70VvY++Cr6Evv+/er/1wHDA7MFnwePCX8Lbw1jD1MRRxM7FS8XIxkbG
	w8dBx7/IPci8yTrJuco4yrfLNsu2zDXMtc01zbXONs62zzfPuNA50LrRPNG+0j/SwdNE
	08bUSdTL1U7V0dZV1tjXXNfg2GTY6Nls2fHadtr724DcBdyK3RDdlt4c3qLfKd+v4Dbg
	veFE4cziU+Lb42Pj6+Rz5PzlhOYN5pbnH+ep6DLovOlG6dDqW+rl63Dr++yG7RHtnO4o
	7rTvQO/M8Fjw5fFy8f/yjPMZ86f0NPTC9VD13vZt9vv3ivgZ+Kj5OPnH+lf65/t3/Af8
	mP0p/br+S/7c/23//3BhcmEAAAAAAAMAAAACZmYAAPKnAAANWQAAE9AAAArAdmNndAAA
	AAAAAAAAAAMBAAACAAAAEQBPAMABSwHvApUDWgQ+BTQGRgdlCKYJ4Qs9DJkOAQ9tEOQS
	ZBPrFWMW4RhkGd4bTRy2Hh0fciC6IfIjHyQ3JUEmRydDKDopNSooKx4sES0ELfcu6C/a
	MMwxvzKyM6M0kjWCNnA3XThIOTU6HjsGO+481z3APqo/mkCPQYpCiUOLRI9FkkaTR5RI
	lUmVSpRLkUyOTYtOiE+FUINRg1KEU4NUhFWEVoJXgVh/WXtaeFtzXG5daV5kX2NgZWFr
	YnVjgWSOZZtmp2ezaL5pyGrRa9ps423sbvZwA3ESciVzOXRQdWd2fXeReKd5unrOe+F8
	8n4DfxCAGoEggiODIoQghRyGGIcUiA+JCooEiv2L9ozvjeiO4Y/ckNiR1ZLTk9KU0pXR
	ls+XzZjKmciaxJvAnLyduJ61n7Sgt6G+osij1KTipe+m/agKqRaqI6surDmtRK5Or1iw
	YLFnsm2zcrR3tXu2freBuIS5h7qJu4u8jb2Ovo+/ksCVwZrCn8OkxKrFrsaxx7XIuMm7
	yr3LvszAzcHOwc+/0LvRtdKs06LUl9WM1oHXdthq2V3aUdtE3DfdKt4c3w3f/uDt4dri
	xeOx5JvlheZv51noQukr6hTq/evm7M3tte6d74XwbvFY8kLzLfQZ9QX18Pbc98b4sfmc
	+ob7cPxa/UP+Lf8W//8AAAARAE8AwAFCAdEChwNSBCUFGgYuB0gIbgmzCwIMYg2+DyYQ
	kxIKE4kVBBZ7F/oZZhrZHD4dmB7rIDQhaCKPI6kktSW4JrcnsSioKZ8qliuLLH4tcS5i
	L1UwRzE7Mi0zHzQRNQE18jbhN9A4vjmqOpY7gDxrPVU+Pz8qQBpBDkIEQv1D9kTvRehG
	4UfYSM5JxEq4S6xMoE2SToZPeVBwUWlSZlNjVGJVX1ZdV1pYVVlRWktbRVw+XTdeMV8r
	YChhJ2IoYypkLGUvZjBnMWgxaTFqMGsvbC1tLG4sby5wNXFBclFzZHR6dY92pXe5eM55
	4Xr1fAd9GX4pfzeAQ4FKgk+DUIRQhU+GTodMiEmJRopCiz+MOo02jjGPLZAqkSiSKJMn
	lCeVJ5YmlyWYJJkimiCbHZwanRaeE58RoBKhFKIYox+kJ6UvpjanPahEqUuqUqtXrF2t
	Yq5nr26wdrF/somzlbShta22ubfEuM+52rrju+28974AvwjAD8EWwhzDIcQlxSnGLccw
	yDPJNco3yznMO808zj3PPtBA0ULSRdNI1EvVT9ZS11TYV9lZ2lvbXNxe3V7eXd9a4FPh
	SOI44yXkEOT55eLmyuey6Jrpgepo60/sNu0d7gPu6+/U8MHxsPKi85b0jPWB9nb3a/hg
	+VX6Svs+/DH9Jf4Z/wz//wAAABEATwDAAUIB0QJ4AzgECwUABgAHHwhSCYgKzAwpDYEO
	5hBTEc0TQBSzFiwXpBkYGoob8B1RHqcf7yEwIl8jfySVJaQmriexKLMptSq1K7Ussi2v
	Lq4vrDCoMaQyoDObNJc1kjaKN4M4fDlyOmY7WjxNPUA+ND8qQCNBHkIcQx1EHUUgRiBH
	IEgeSR1KGUsWTBBNDE4HTwJP/1D8UftS+lP8VPxV/Fb7V/lY9lnyWu5b6VzkXd9e21/Y
	YNZh12LZY91k4WXjZuVn52joaelq6WvobOdt527ob+1w9nICcxJ0JHU2dkl3W3hteXx6
	jHucfKp9t37Cf8mAy4HJgsSDu4SyhaeGnIeQiIWJeIpri12MT41BjjOPJ5AckRSSDZMJ
	lAaVA5YAlv2X+Zj1mfCa65vlnOCd2p7Tn8+gzKHKosqjy6TMpc6mzqfPqM+pz6rNq82s
	y63KrsmvybDKsc2y0bPVtNq137bjt+e46rntuvC78rz0vfW+97/3wPfB+ML4w/jE+MX3
	xvbH9cjzyfHK78vtzOrN5s7jz+DQ3NHY0tPTztTI1cLWvNe12K7Zp9qf25jcj92H3n3f
	c+Bn4VniSeM45CblE+YA5uzn2OjE6bDqm+uG7HHtXO5H7zTwI/EX8g/zC/QK9Qr2CvcK
	+Ar5CfoI+wf8Bv0F/gP/Af//AABuZGluAAAAAAAABjYAAKZFAABVtQAATMwAAJ5IAAAk
	8AAADQ4AAFANAABUOQACI9cAAgKPAAH9cAADAQAAAgAAAAUADAAVAB4AKAAyAD0ASABT
	AGAAbAB5AIcAlQCkALMAwwDTAOQA9QEIARsBLwFDAVkBbwGHAaABugHVAfICEQIyAlYC
	fAKmAtQDBAM4A28DpwPjBCAEYASiBOYFLQV1BcAGDAZbBq0HAQdYB7EIDghsCM4JMwma
	CgMKbwrbC0cLsgwdDIkM9g1lDdcOSw7BDzoPtRAzELQRNhG7EkISyxNVE+AUbhT+FZAW
	JRa8F1YX8xiSGTQZ2RqAGykb0hx7HSMdyx50Hx4fyiB5ISoh3SKTI0wkByTEJYQmRScH
	J8koiylNKhAq0yuZLGEtLC34LsgvmTBtMUQyHTL6M9w0wzWwNqI3mTiUOZI6kzuXPJ09
	pz60P8RA10HsQwREHUU3RlJHbkiLSapKzEvxTRlORE9yUKNR11MOVEhVgla9V/ZZLFph
	W5Vcyl4BXzpgdmG1YvZkOmWBZstoF2lnarpsEW1sbspwLHGRcvl0ZHXSd0N4t3oue6d9
	JH6kgCWBqIMrhK+GNYe9iUiK14xpjf6PlpExks+UcZYVl72ZaZsbnNSek6BZoiSj9KXG
	p5ypdqtTrTOvF7D/sum02LbLuMO6wrzHvtPA48L4xRHHLclNy3HNmc/F0fTUKNZf2Jna
	1t0U31LhkuPT5hfoX+qq7PrvTfGk8//2XvjA+yf9kf//AAAABQANABUAHwApADMAPgBK
	AFYAYgBvAHwAigCZAKgAuADIANkA6gD8AQ8BIwE3AUwBYwF6AZIBrAHHAeQCAgIiAkUC
	agKTAr4C7gMgA1UDjQPHBAMEQQSCBMUFCwVSBZwF5wY1BoUG1wcsB4MH3Qg5CJgI+glf
	CcYKMAqcCwoLeAvmDFYMxg05Da4OJQ6fDxwPmxAdEKIRKRG0EkASzxNeE+4UfhUQFaMW
	ORbRF2wYChiqGU0Z8xqbG0Yb8xyhHVAd/x6wH2IgFiDMIYYiQSMAI8EkhSVLJhQm3yer
	KHcpQSoKKtIrmixiLSwt+C7HL5gwazFBMhky9DPRNLI1lzaAN284YzlcOlg7WDxaPWA+
	aD90QIJBk0KnQ75E10XyRw1IKklISmlLi0yxTdlPBFAyUWNSl1POVQhWRVeDWMFZ/1s9
	XHpduF73YDlhfmLFZA9lXGarZ/5pU2qrbAVtX267cBZxc3LQdC91kXb1eFx5xnsyfKJ+
	FH+JgQGCfYP7hX2HA4iNihqLqo09jtSQbZIJk6mVS5bxmJmaRZvznaOfVaEIor2kdKYt
	p+mpqatrrTCu+LDEspK0ZLY7uBe5/Lvsvei/8cIDxBzGOshcyoHMq87Y0QrTP9V417TZ
	8twt3mTgluLF5PLnIOlS64btv+/68jn0fPbD+Q37Wv2r//8AAAAFAA0AFgAgACoANQBA
	AEsAWABkAHIAfwCOAJwArAC8AMwA3QDvAQIBFQEpAT4BUwFqAYEBmgG0Ac8B7AIKAisC
	TQJyApoCxQLzAyMDVgOMA8MD/QQ4BHYEtgT4BTsFgQXJBhMGXwatBv0HUAelB/wIVgiz
	CRIJdAnYCj4KpQsNC3YL4AxLDLgNJg2YDgsOgg76D3YP8xB0EPYRexICEooTFBOfFCwU
	uhVLFd8WdRcOF6oYSBjpGY0aMxrbG4QcLxzbHYceNR7kH5YgSyECIbwieCM3I/kkviWE
	JkwnFSfcKKMpaSovKvYrvyyKLVcuJy76L88wpjGAMl4zPjQkNRA2Azb7N/o4/DoCOws8
	GD0nPjo/UEBpQYVCpEPFROdGCEcqSEtJbUqQS7dM4E4MTztQbVGiUtpUFVVTVpRX1lkY
	WltbnlziXihfcGC8YgpjXGSwZghnYmi/ah9rgWzkbkhvrHEQcndz33VKdrh4KXmdexR8
	jn4Lf4uBDoKUhB2Fqoc5iMqKX4v2jZGPLpDPknOUGpXEl3GZIZrVnIueRKABocGjhaVM
	pxeo5Kq2rIquYrA9shyz/bXjt8y5urutvae/qMGxw7/F0cfoygPMIc5D0GnSk9TA1vHZ
	Jdta3YvftuHY4/TmDegm6kHsX+6B8KXyzfT49yb5WPuM/cT//wAAc2YzMgAAAAAAAQxC
	AAAF3v//8yYAAAeSAAD9kf//+6L///2jAAAD3AAAwGxtbW9kAAAAAAAABhAAAJy1AAAA
	AMZ616EAAAAAAAAAAAAAAAAAAAAA
	</data>
	<key>StatusItemTitle</key>
	<string></string>
	<key>TextBackground</key>
	<string>#270400</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Menlo-Regular</string>
	<key>TextForeground</key>
	<string>#e00000</string>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
